In [27]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from bfuncs import clean_pcts
%matplotlib inline

In [52]:
data = pd.read_csv('./data/2019/All_Seasons_Data.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89884 entries, 0 to 89883
Data columns (total 23 columns):
Season      89884 non-null int64
Name        89830 non-null object
Team        89884 non-null object
G           89884 non-null int64
PA          89884 non-null int64
HR          89884 non-null int64
R           89884 non-null int64
RBI         89584 non-null float64
SB          87784 non-null float64
BB%         89884 non-null object
K%          82844 non-null object
ISO         89884 non-null float64
BABIP       82844 non-null float64
AVG         89884 non-null float64
OBP         89884 non-null float64
SLG         89884 non-null float64
wOBA        89884 non-null float64
wRC+        84026 non-null float64
BsR         89884 non-null float64
Off         89884 non-null float64
Def         89884 non-null float64
WAR         89884 non-null float64
playerid    89884 non-null int64
dtypes: float64(13), int64(6), object(4)
memory usage: 15.8+ MB

In [53]:
for i in ['BB%', 'K%']:
    data[i] = data[i].apply(clean_pcts)
data.head()

,Season,Name,Team,G,PA,HR,R,RBI,SB,BB%,...,AVG,OBP,SLG,wOBA,wRC+,BsR,Off,Def,WAR,playerid
0,1933,Jim Levey,Browns,141,567,2,43,36.0,4.0,0.046,...,0.195,0.237,0.240,0.227,23.0,-1.7,-60.1,0.5,-4.0,1007567
1,1977,Jerry Royster,Braves,140,491,6,64,28.0,28.0,0.077,...,0.216,0.278,0.288,0.258,45.0,1.9,-31.1,-21.9,-3.8,1011270
2,1930,Tommy Thevenow,Phillies,156,624,0,57,78.0,1.0,0.037,...,0.286,0.316,0.326,0.297,48.0,0.2,-50.9,-10.4,-3.6,1012952
3,1931,Jim Levey,Browns,139,540,5,53,38.0,13.0,0.065,...,0.209,0.264,0.285,0.259,40.0,-1.0,-44.9,-8.4,-3.3,1007567
4,1899,Sport McAllister,Spiders,113,451,1,29,31.0,5.0,0.042,...,0.237,0.273,0.297,0.275,57.0,-1.8,-29.7,-21.9,-3.2,1008324

In [54]:
decade = data[data['Season'].isin(range(2010,2020))]
decade.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11890 entries, 9 to 89843
Data columns (total 23 columns):
Season      11890 non-null int64
Name        11890 non-null object
Team        11890 non-null object
G           11890 non-null int64
PA          11890 non-null int64
HR          11890 non-null int64
R           11890 non-null int64
RBI         11890 non-null float64
SB          11890 non-null float64
BB%         11890 non-null float64
K%          11890 non-null float64
ISO         11890 non-null float64
BABIP       11890 non-null float64
AVG         11890 non-null float64
OBP         11890 non-null float64
SLG         11890 non-null float64
wOBA        11890 non-null float64
wRC+        8614 non-null float64
BsR         11890 non-null float64
Off         11890 non-null float64
Def         11890 non-null float64
WAR         11890 non-null float64
playerid    11890 non-null int64
dtypes: float64(15), int64(6), object(2)
memory usage: 2.2+ MB

In [55]:
decade.head()

,Season,Name,Team,G,PA,HR,R,RBI,SB,BB%,...,AVG,OBP,SLG,wOBA,wRC+,BsR,Off,Def,WAR,playerid
9,2018,Chris Davis,Orioles,128,522,16,40,49.0,2.0,0.079,...,0.168,0.243,0.296,0.239,46.0,-1.8,-35.8,-11.7,-3.1,9272
11,2011,Adam Dunn,White Sox,122,496,11,36,42.0,0.0,0.151,...,0.159,0.292,0.277,0.268,60.0,-5.4,-28.3,-15.5,-2.9,319
26,2010,Adam Moore,Mariners,60,218,4,12,15.0,0.0,0.037,...,0.195,0.230,0.283,0.227,40.0,-0.2,-15.5,-17.3,-2.6,9362
40,2013,Rob Brantly,Marlins,67,243,1,11,18.0,0.0,0.062,...,0.211,0.263,0.265,0.238,46.0,-2.8,-17.6,-11.6,-2.4,10655
42,2012,Rod Barajas,Pirates,104,361,11,29,31.0,0.0,0.080,...,0.206,0.283,0.343,0.272,70.0,-1.5,-14.4,-19.2,-2.4,45

In [56]:
for k, i in decade[['Name', 'playerid']].items():
    print(k, '-->', i)

Name --> 9         Chris Davis
11          Adam Dunn
26         Adam Moore
40        Rob Brantly
42        Rod Barajas
             ...
89816      Mike Trout
89832      Mike Trout
89837      Mike Trout
89842    Mookie Betts
89843    Buster Posey
Name: Name, Length: 11890, dtype: object
playerid --> 9         9272
11         319
26        9362
40       10655
42          45
         ...
89816    10155
89832    10155
89837    10155
89842    13611
89843     9166
Name: playerid, Length: 11890, dtype: int64

In [33]:
decade[['Name', 'playerid']].value_counts()

AttributeError: 'DataFrame' object has no attribute 'value_counts'

In [34]:
import numpy as np

In [57]:
decgrp = decade.groupby(['Name','playerid'])

In [58]:
countingcols = ['G', 'PA', 'HR', 'R', 'RBI', 'SB', 'BsR', 'Off', 'Def', 'WAR']
sums = decgrp[countingcols].sum()

In [59]:
sums.sort_values('WAR', ascending=False)[:20]

,,G,PA,HR,R,RBI,SB,BsR,Off,Def,WAR
Name,playerid,,,,,,,,,,
Mike Trout,10155,1065,4673,240,793,648.0,189.0,52.1,444.2,20.2,65.0
Buster Posey,9166,1137,4691,133,551,635.0,23.0,-24.0,155.3,189.2,51.6
Joey Votto,4314,1269,5542,216,768,712.0,62.0,-27.5,362.9,-77.6,47.6
Robinson Cano,3269,1344,5805,224,782,839.0,34.0,-17.4,215.7,25.2,45.8
Andrew McCutchen,9847,1393,6018,211,823,736.0,163.0,11.8,267.8,-28.3,44.9
Miguel Cabrera,1744,1224,5246,256,758,882.0,14.0,-44.7,311.5,-73.3,43.8
Adrian Beltre,639,1252,5253,227,696,801.0,10.0,-9.0,173.9,59.5,43.1
Yadier Molina,7007,1201,4745,111,467,596.0,47.0,-39.6,8.0,233.0,40.7
Giancarlo Stanton,4949,1144,4825,305,678,772.0,41.0,-3.0,238.5,-17.8,38.7
Josh Donaldson,5038,883,3817,182,556,551.0,34.0,6.2,186.5,34.6,36.5
Jonathan Lucroy,7870,1101,4240,100,451,509.0,30.0,-21.0,-2.2,210.7,36.2
Evan Longoria,9368,1281,5484,217,664,748.0,38.0,2.3,115.0,46.8,36.1
Russell Martin,4616,1040,4073,136,472,477.0,40.0,-19.6,1.0,207.1,36.1
Paul Goldschmidt,9218,1092,4708,209,709,710.0,124.0,22.2,270.4,-70.5,36.0
Ben Zobrist,7435,1307,5531,124,719,603.0,92.0,11.7,123.0,36.1,35.9
Jose Bautista,1887,1223,5206,285,781,764.0,56.0,-4.3,231.0,-71.2,35.4
Ian Kinsler,6195,1286,5755,165,851,614.0,150.0,30.4,77.3,65.4,35.1
Brian McCann,4810,1059,4162,179,451,584.0,13.0,-32.1,-2.2,188.3,33.4
Dustin Pedroia,8370,1025,4637,98,597,512.0,91.0,-7.8,77.2,83.0,33.2
Justin Upton,5222,1345,5651,243,802,758.0,123.0,26.1,181.0,-51.6,32.0

In [60]:
means = decgrp.mean()

In [61]:
round(means.sort_values('WAR', ascending=False)[:20],2)

,,Season,G,PA,HR,R,RBI,SB,BB%,K%,ISO,BABIP,AVG,OBP,SLG,wOBA,wRC+,BsR,Off,Def,WAR
Name,playerid,,,,,,,,,,,,,,,,,,,,
Mike Trout,10155,2014.50,133.12,584.12,30.00,99.12,81.00,23.62,0.14,0.21,0.26,0.34,0.30,0.40,0.56,0.41,163.75,6.51,55.52,2.52,8.12
Mookie Betts,13611,2016.00,128.80,584.60,22.00,95.60,78.00,22.00,0.10,0.13,0.21,0.32,0.30,0.37,0.51,0.38,135.20,7.42,31.62,8.18,6.12
Buster Posey,9166,2014.00,126.33,521.22,14.78,61.22,70.56,2.56,0.10,0.12,0.15,0.33,0.30,0.37,0.46,0.36,130.33,-2.67,17.26,21.02,5.73
Francisco Lindor,12916,2016.50,143.50,647.50,24.50,94.25,77.50,17.75,0.08,0.14,0.19,0.31,0.29,0.35,0.49,0.35,120.50,1.48,17.15,16.75,5.72
Kris Bryant,15429,2016.50,139.75,617.75,26.75,94.50,81.50,7.50,0.12,0.24,0.23,0.35,0.28,0.38,0.51,0.38,138.75,4.55,35.15,1.42,5.72
Joey Votto,4314,2014.00,141.00,615.78,24.00,85.33,79.11,6.89,0.18,0.17,0.21,0.35,0.31,0.43,0.52,0.41,157.44,-3.06,40.32,-8.62,5.29
Robinson Cano,3269,2014.00,149.33,645.00,24.89,86.89,93.22,3.78,0.08,0.13,0.20,0.32,0.30,0.36,0.50,0.37,134.44,-1.93,23.97,2.80,5.09
Andrew McCutchen,9847,2014.00,154.78,668.67,23.44,91.44,81.78,18.11,0.12,0.18,0.19,0.33,0.29,0.38,0.48,0.37,136.44,1.31,29.76,-3.14,4.99
Miguel Cabrera,1744,2014.00,136.00,582.89,28.44,84.22,98.00,1.56,0.12,0.16,0.23,0.34,0.32,0.40,0.55,0.40,154.78,-4.97,34.61,-8.14,4.87
Adrian Beltre,639,2014.00,139.11,583.67,25.22,77.33,89.00,1.11,0.07,0.13,0.21,0.31,0.31,0.36,0.51,0.37,129.33,-1.00,19.32,6.61,4.79
Matt Chapman,16505,2017.50,114.50,471.00,19.00,69.50,54.00,0.50,0.10,0.26,0.23,0.31,0.26,0.33,0.49,0.35,123.00,2.30,17.80,11.85,4.60
Josh Donaldson,5038,2014.38,110.38,477.12,22.75,69.50,68.88,4.25,0.11,0.22,0.21,0.29,0.26,0.34,0.47,0.35,122.12,0.77,23.31,4.32,4.56
Yadier Molina,7007,2014.00,133.44,527.22,12.33,51.89,66.22,5.22,0.06,0.11,0.14,0.30,0.29,0.34,0.42,0.33,108.22,-4.40,0.89,25.89,4.52
Paul Goldschmidt,9218,2014.50,136.50,588.50,26.12,88.62,88.75,15.50,0.14,0.23,0.23,0.35,0.29,0.39,0.53,0.39,141.88,2.78,33.80,-8.81,4.50
Bryce Harper,11579,2015.00,132.43,565.29,26.29,87.14,74.43,10.71,0.14,0.21,0.23,0.32,0.28,0.38,0.51,0.38,138.71,1.56,28.53,-4.30,4.37
Aaron Judge,15640,2017.00,98.00,423.67,27.67,71.67,63.67,5.00,0.14,0.35,0.25,0.34,0.25,0.36,0.50,0.36,127.67,0.30,28.67,0.17,4.37
Manny Machado,11493,2015.00,132.29,582.00,25.00,74.57,73.29,7.57,0.07,0.17,0.20,0.30,0.28,0.33,0.48,0.34,117.14,-0.84,12.96,9.19,4.33
Christian Yelich,11477,2015.50,131.67,577.17,15.83,81.17,67.17,15.67,0.11,0.21,0.16,0.36,0.30,0.37,0.46,0.36,129.00,4.02,25.18,-1.67,4.32
Giancarlo Stanton,4949,2014.00,127.11,536.11,33.89,75.33,85.78,4.56,0.11,0.28,0.28,0.32,0.27,0.35,0.55,0.38,141.56,-0.33,26.50,-1.98,4.30
Anthony Rendon,12861,2015.50,128.33,546.83,17.00,75.67,70.00,6.67,0.10,0.16,0.18,0.31,0.28,0.36,0.46,0.35,119.67,2.25,17.37,6.95,4.28

In [63]:
decade[decade['Name'] == 'Andres Torres']

,Season,Name,Team,G,PA,HR,R,RBI,SB,BB%,...,AVG,OBP,SLG,wOBA,wRC+,BsR,Off,Def,WAR,playerid
59695,2013,Andres Torres,Giants,103,300,2,33,21.0,4.0,0.073,...,0.250,0.302,0.342,0.285,85.0,-0.8,-6.0,-1.5,0.2,1488
75703,2012,Andres Torres,Mets,132,434,3,47,35.0,13.0,0.120,...,0.230,0.327,0.337,0.297,88.0,1.8,-4.2,5.0,1.5,1488
78754,2011,Andres Torres,Giants,112,398,4,50,19.0,19.0,0.106,...,0.221,0.312,0.330,0.292,87.0,4.6,-1.4,9.5,2.1,1488
88858,2010,Andres Torres,Giants,139,570,16,84,63.0,26.0,0.098,...,0.268,0.343,0.479,0.358,125.0,5.6,22.7,20.4,6.2,1488

In [64]:
data.columns

Index(['Season', 'Name', 'Team', 'G', 'PA', 'HR', 'R', 'RBI', 'SB', 'BB%',
       'K%', 'ISO', 'BABIP', 'AVG', 'OBP', 'SLG', 'wOBA', 'wRC+', 'BsR', 'Off',
       'Def', 'WAR', 'playerid'],
      dtype='object')

In [65]:
stand = pd.read_csv('./data/2019/All_Seasons_Standard.csv')
adv = pd.read_csv('./data/2019/All_Seasons_Advanced.csv')

In [69]:
stand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89884 entries, 0 to 89883
Data columns (total 24 columns):
Season      89884 non-null int64
Name        89830 non-null object
Team        89884 non-null object
G           89884 non-null int64
AB          89884 non-null int64
PA          89884 non-null int64
H           89884 non-null int64
1B          89884 non-null int64
2B          89884 non-null int64
3B          89884 non-null int64
HR          89884 non-null int64
R           89884 non-null int64
RBI         89584 non-null float64
BB          89884 non-null int64
IBB         55941 non-null float64
SO          82844 non-null float64
HBP         87370 non-null float64
SF          56457 non-null float64
SH          84156 non-null float64
GDP         65700 non-null float64
SB          87784 non-null float64
CS          68328 non-null float64
AVG         89884 non-null float64
playerid    89884 non-null int64
dtypes: float64(10), int64(12), object(2)
memory usage: 16.5+ MB

In [70]:
adv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89884 entries, 0 to 89883
Data columns (total 22 columns):
Season      89884 non-null int64
Name        89830 non-null object
Team        89884 non-null object
PA          89884 non-null int64
BB%         89884 non-null object
K%          82844 non-null object
BB/K        82844 non-null float64
AVG         89884 non-null float64
OBP         89884 non-null float64
SLG         89884 non-null float64
OPS         89884 non-null float64
ISO         89884 non-null float64
Spd         87784 non-null float64
BABIP       82844 non-null float64
UBR         10643 non-null float64
wGDP        10643 non-null float64
wSB         89884 non-null float64
wRC         89884 non-null int64
wRAA        89884 non-null float64
wOBA        89884 non-null float64
wRC+        84026 non-null float64
playerid    89884 non-null int64
dtypes: float64(14), int64(4), object(4)
memory usage: 15.1+ MB

In [101]:
merged = pd.merge(stand, adv, on=['playerid', 'Season', 'Name'], suffixes=('', '_right'))

In [102]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 89884 entries, 0 to 89883
Data columns (total 43 columns):
Season        89884 non-null int64
Name          89830 non-null object
Team          89884 non-null object
G             89884 non-null int64
AB            89884 non-null int64
PA            89884 non-null int64
H             89884 non-null int64
1B            89884 non-null int64
2B            89884 non-null int64
3B            89884 non-null int64
HR            89884 non-null int64
R             89884 non-null int64
RBI           89584 non-null float64
BB            89884 non-null int64
IBB           55941 non-null float64
SO            82844 non-null float64
HBP           87370 non-null float64
SF            56457 non-null float64
SH            84156 non-null float64
GDP           65700 non-null float64
SB            87784 non-null float64
CS            68328 non-null float64
AVG           89884 non-null float64
playerid      89884 non-null int64
Team_right    89884 non-null object
PA_right      89884 non-null int64
BB%           89884 non-null object
K%            82844 non-null object
BB/K          82844 non-null float64
AVG_right     89884 non-null float64
OBP           89884 non-null float64
SLG           89884 non-null float64
OPS           89884 non-null float64
ISO           89884 non-null float64
Spd           87784 non-null float64
BABIP         82844 non-null float64
UBR           10643 non-null float64
wGDP          10643 non-null float64
wSB           89884 non-null float64
wRC           89884 non-null int64
wRAA          89884 non-null float64
wOBA          89884 non-null float64
wRC+          84026 non-null float64
dtypes: float64(24), int64(14), object(5)
memory usage: 30.2+ MB

In [103]:
assert data.shape[0] == merged.shape[0] == stand.shape[0] == adv.shape[0], 'Rows do not match' % (merged.shape[0], stand.shape[0], adv.shape[0])

In [90]:
[i for i in data.columns if i not in merged.columns]

['BsR', 'Off', 'Def', 'WAR']

In [104]:
merged = pd.merge(merged, data[['Season', 'playerid', 'Name','BsR', 'Off', 'Def', 'WAR']].copy(), 
                  on=['Season', 'playerid', 'Name'], suffixes=('', '_right'))
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 89884 entries, 0 to 89883
Data columns (total 47 columns):
Season        89884 non-null int64
Name          89830 non-null object
Team          89884 non-null object
G             89884 non-null int64
AB            89884 non-null int64
PA            89884 non-null int64
H             89884 non-null int64
1B            89884 non-null int64
2B            89884 non-null int64
3B            89884 non-null int64
HR            89884 non-null int64
R             89884 non-null int64
RBI           89584 non-null float64
BB            89884 non-null int64
IBB           55941 non-null float64
SO            82844 non-null float64
HBP           87370 non-null float64
SF            56457 non-null float64
SH            84156 non-null float64
GDP           65700 non-null float64
SB            87784 non-null float64
CS            68328 non-null float64
AVG           89884 non-null float64
playerid      89884 non-null int64
Team_right    89884 non-null object
PA_right      89884 non-null int64
BB%           89884 non-null object
K%            82844 non-null object
BB/K          82844 non-null float64
AVG_right     89884 non-null float64
OBP           89884 non-null float64
SLG           89884 non-null float64
OPS           89884 non-null float64
ISO           89884 non-null float64
Spd           87784 non-null float64
BABIP         82844 non-null float64
UBR           10643 non-null float64
wGDP          10643 non-null float64
wSB           89884 non-null float64
wRC           89884 non-null int64
wRAA          89884 non-null float64
wOBA          89884 non-null float64
wRC+          84026 non-null float64
BsR           89884 non-null float64
Off           89884 non-null float64
Def           89884 non-null float64
WAR           89884 non-null float64
dtypes: float64(28), int64(14), object(5)
memory usage: 32.9+ MB

In [110]:
dropcols = [i for i in merged.columns if '_right' in i]
merged.drop(dropcols, axis=1, inplace=True)

In [111]:
decade = merged[merged['Season'].isin(range(2010,2020))]
decade.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11890 entries, 367 to 89883
Data columns (total 44 columns):
Season      11890 non-null int64
Name        11890 non-null object
Team        11890 non-null object
G           11890 non-null int64
AB          11890 non-null int64
PA          11890 non-null int64
H           11890 non-null int64
1B          11890 non-null int64
2B          11890 non-null int64
3B          11890 non-null int64
HR          11890 non-null int64
R           11890 non-null int64
RBI         11890 non-null float64
BB          11890 non-null int64
IBB         11890 non-null float64
SO          11890 non-null float64
HBP         11890 non-null float64
SF          11890 non-null float64
SH          11890 non-null float64
GDP         11890 non-null float64
SB          11890 non-null float64
CS          11890 non-null float64
AVG         11890 non-null float64
playerid    11890 non-null int64
BB%         11890 non-null object
K%          11890 non-null object
BB/K        11890 non-null float64
OBP         11890 non-null float64
SLG         11890 non-null float64
OPS         11890 non-null float64
ISO         11890 non-null float64
Spd         11890 non-null float64
BABIP       11890 non-null float64
UBR         5689 non-null float64
wGDP        5689 non-null float64
wSB         11890 non-null float64
wRC         11890 non-null int64
wRAA        11890 non-null float64
wOBA        11890 non-null float64
wRC+        8614 non-null float64
BsR         11890 non-null float64
Off         11890 non-null float64
Def         11890 non-null float64
WAR         11890 non-null float64
dtypes: float64(27), int64(13), object(4)
memory usage: 4.1+ MB

In [115]:
decade.sort_values('WAR', ascending=False)[:5]

,Season,Name,Team,G,AB,PA,H,1B,2B,3B,...,wGDP,wSB,wRC,wRAA,wOBA,wRC+,BsR,Off,Def,WAR
3258,2018,Mookie Betts,Red Sox,136,520,614,180,96,47,5,...,1.1,3.1,139,67.2,0.449,185.0,6.9,69.1,11.6,10.4
3779,2012,Buster Posey,Giants,148,530,610,178,114,39,1,...,-1.2,-1.0,114,44.7,0.406,164.0,-4.6,41.8,38.7,10.4
6111,2013,Mike Trout,Angels,157,589,716,190,115,39,9,...,1.5,3.1,140,61.1,0.423,176.0,8.2,70.5,0.5,10.2
5741,2012,Mike Trout,Angels,139,559,639,182,117,27,8,...,1.1,7.0,121,48.2,0.409,167.0,14.3,64.4,10.2,10.1
7780,2018,Mike Trout,Angels,140,471,608,147,80,24,4,...,1.5,3.5,136,65.4,0.447,191.0,5.0,71.1,4.2,9.8

In [119]:
mrggp = decade.groupby(['playerid', 'Name'])

In [127]:
mrggp.sum().sort_values('Off', ascending=False)[:25]

,,Season,G,AB,PA,H,1B,2B,3B,HR,R,...,wGDP,wSB,wRC,wRAA,wOBA,wRC+,BsR,Off,Def,WAR
playerid,Name,,,,,,,,,,,,,,,,,,,,,
10155,Mike Trout,16116,1065,3870,4673,1187,679,224,44,240,793,...,12.8,20.1,915,383.7,3.247,1310.0,52.1,444.2,20.2,65.0
4314,Joey Votto,18126,1269,4484,5542,1395,869,295,15,216,768,...,1.1,-1.9,1061,425.8,3.679,1417.0,-27.5,362.9,-77.6,47.6
1744,Miguel Cabrera,18126,1224,4535,5246,1456,892,303,5,256,758,...,-16.1,-5.0,976,379.5,3.609,1393.0,-44.7,311.5,-73.3,43.8
9218,Paul Goldschmidt,16116,1092,3975,4708,1182,687,267,19,209,709,...,2.0,8.3,833,293.7,3.111,1135.0,22.2,270.4,-70.5,36.0
9847,Andrew McCutchen,18126,1393,5169,6018,1484,939,296,38,211,823,...,8.1,-0.7,953,264.9,3.343,1228.0,11.8,267.8,-28.3,44.9
4949,Giancarlo Stanton,18126,1144,4194,4825,1124,572,236,11,305,678,...,5.6,-0.7,805,254.2,3.421,1274.0,-3.0,238.5,-17.8,38.7
1887,Jose Bautista,18126,1223,4297,5206,1078,562,222,9,285,781,...,-3.0,-2.1,850,255.5,3.380,1237.0,-4.3,231.0,-71.2,35.4
3269,Robinson Cano,18126,1344,5257,5805,1595,1020,335,16,224,782,...,-9.4,-4.4,904,241.9,3.307,1210.0,-17.4,215.7,25.2,45.8
5361,Freddie Freeman,18126,1188,4356,5011,1275,781,285,20,189,685,...,5.3,-4.0,810,239.2,3.216,1121.0,-2.2,215.5,-77.3,30.6
3410,Ryan Braun,18126,1161,4337,4828,1279,767,266,27,219,700,...,-6.3,9.8,782,230.4,3.348,1190.0,7.7,206.0,-70.8,29.7
11579,Bryce Harper,14105,927,3306,3957,922,537,183,18,184,610,...,8.5,-0.6,667,212.9,2.657,971.0,10.9,199.7,-30.1,30.6
2151,Edwin Encarnacion,18126,1251,4545,5278,1206,667,233,5,301,738,...,-6.5,1.0,847,242.7,3.340,1200.0,-19.2,195.9,-120.2,26.6
2434,Nelson Cruz,18126,1265,4739,5292,1320,757,249,9,305,693,...,0.6,-2.1,843,238.4,3.346,1215.0,-26.5,194.6,-95.9,28.9
5038,Josh Donaldson,16115,883,3292,3817,906,519,193,12,182,556,...,0.5,1.5,619,185.8,2.796,977.0,6.2,186.5,34.6,36.5
5222,Justin Upton,18126,1345,4967,5651,1326,794,267,22,243,802,...,5.1,1.8,822,177.3,3.190,1107.0,26.1,181.0,-51.6,32.0
745,David Ortiz,14091,957,3468,4036,1014,533,252,5,224,530,...,-7.0,-3.1,713,259.2,2.781,1045.0,-49.1,176.9,-98.7,22.4
639,Adrian Beltre,18126,1252,4783,5253,1466,939,288,12,227,696,...,-6.5,-3.6,831,234.3,3.338,1164.0,-9.0,173.9,59.5,43.1
8090,Matt Carpenter,16116,1020,3640,4315,998,576,264,25,133,653,...,11.1,-6.1,668,175.1,2.771,953.0,5.9,170.7,-33.5,28.5
5417,Jose Altuve,16116,1119,4485,4910,1419,1025,272,25,97,645,...,-9.2,18.3,713,151.8,2.780,974.0,10.5,161.4,-16.0,31.5
1873,Matt Holliday,18126,1049,3772,4343,1066,655,241,6,164,584,...,-10.2,-3.6,677,184.3,3.296,1175.0,-14.8,159.8,-65.7,24.0
13611,Mookie Betts,10080,644,2606,2923,789,469,189,21,110,478,...,6.5,11.2,485,143.3,1.879,676.0,37.1,158.1,40.9,30.6
9166,Buster Posey,18126,1137,4153,4691,1274,886,246,9,133,551,...,-8.2,-3.0,711,175.7,3.236,1173.0,-24.0,155.3,189.2,51.6
11477,Christian Yelich,12093,790,3052,3463,906,610,180,21,95,487,...,-1.1,7.4,532,133.5,2.162,774.0,24.1,151.1,-10.0,25.9
3473,Anthony Rizzo,16116,1061,3902,4560,1054,615,233,15,191,574,...,5.8,-5.2,709,187.2,2.833,985.0,-17.4,149.3,-50.2,25.1
3174,Shin-Soo Choo,18126,1153,4322,5095,1173,779,227,15,152,671,...,1.2,-0.5,752,170.4,3.177,1084.0,7.2,148.4,-82.2,24.7

In [169]:
from importlib import reload
from functools import reduce
import bfuncs
reload(bfuncs)
dfs = [stand, adv, data[['Season', 'playerid', 'Name','BsR', 'Off', 'Def', 'WAR']]]
merged2 = bfuncs.merge_seasons_data(dfs)
merged2
#pd.DataFrame(merged2)
#merged2 = reduce(lambda left, right: pd.merge(left, right, on=['Season', 'playerid', 'Name'], suffixes=('', 'right')), dfs)
#merged2.columns
#merged2.drop([col for col in merged2.columns if 'right' in col], axis=1, inplace=True)
merged2 == merged

,Season,Name,Team,G,AB,PA,H,1B,2B,3B,...,wGDP,wSB,wRC,wRAA,wOBA,wRC+,BsR,Off,Def,WAR
0,True,True,True,True,True,True,True,True,True,True,...,False,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,...,False,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,False,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,False,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,...,False,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89879,True,True,True,True,True,True,True,True,True,True,...,False,True,True,True,True,True,True,True,True,True
89880,True,True,True,True,True,True,True,True,True,True,...,False,True,True,True,True,True,True,True,True,True
89881,True,True,True,True,True,True,True,True,True,True,...,False,True,True,True,True,True,True,True,True,True
89882,True,True,True,True,True,True,True,True,True,True,...,False,True,True,True,True,False,True,True,True,True
89883,True,True,True,True,True,True,True,True,True,True,...,False,True,True,True,True,True,True,True,True,True

In [165]:
dir(dfs)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [172]:
np.nan == np.nan

False

In [173]:
stand19 = pd.read_csv('./data/2019/2019Standard.csv')
adv19 = pd.read_csv('./data/2019/2019Advanced.csv')d

In [174]:
stand19.head()

,Name,Team,G,AB,PA,H,1B,2B,3B,HR,...,IBB,SO,HBP,SF,SH,GDP,SB,CS,AVG,playerid
0,Francisco Liriano,Pirates,69,1,2,1,1,0,0,0,...,0,0,0,0,0,0,0,0,1.0,3201
1,Will Smith,Giants,63,1,2,1,1,0,0,0,...,0,0,0,0,1,0,0,0,1.0,8048
2,Oliver Drake,Rays,50,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,1.0,8823
3,Ruben Alaniz,- - -,12,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,1.0,10819
4,Seth Lugo,Mets,61,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,1.0,12447

In [175]:
adv.head()

,Season,Name,Team,PA,BB%,K%,BB/K,AVG,OBP,SLG,...,Spd,BABIP,UBR,wGDP,wSB,wRC,wRAA,wOBA,wRC+,playerid
0,1963,Buster Narum,Orioles,1,0.0 %,0.0 %,0.0,1.0,1.0,4.0,...,0.1,0.0,NaN,NaN,0.0,2,1.4,2.181,1305.0,1009455
1,2010,Gustavo Chacin,Astros,1,0.0 %,0.0 %,0.0,1.0,1.0,4.0,...,0.1,0.0,NaN,NaN,0.0,2,1.4,2.072,1265.0,2060
2,1938,Bill Lefebvre,Red Sox,1,0.0 %,0.0 %,0.0,1.0,1.0,4.0,...,0.1,0.0,NaN,NaN,0.0,2,1.4,2.070,1033.0,1007472
3,2008,Felix Hernandez,Mariners,2,0.0 %,0.0 %,0.0,1.0,1.0,4.0,...,0.1,0.0,NaN,NaN,0.0,3,2.8,2.024,1238.0,4772
4,2005,Eddie Rogers,Orioles,1,0.0 %,0.0 %,0.0,1.0,1.0,4.0,...,0.0,0.0,0.0,0.0,-0.8,2,1.4,2.017,1245.0,1621

In [176]:
eos = pd.read_csv('./data/2019/EndofSeason.csv')

In [177]:
eos.head()

,Name,Team,G,PA,HR,R,RBI,SB,BB%,K%,...,AVG,OBP,SLG,wOBA,wRC+,BsR,Off,Def,WAR,playerid
0,Mike Trout,Angels,134,600,45,110,104,11,18.3 %,20.0 %,...,0.291,0.438,0.645,0.436,180,7.1,68.2,-0.4,8.6,10155
1,Alex Bregman,Astros,156,690,41,122,112,5,17.2 %,12.0 %,...,0.296,0.423,0.592,0.418,168,-2.1,58.3,4.4,8.4,17678
2,Christian Yelich,Brewers,130,580,44,100,97,30,13.8 %,20.3 %,...,0.329,0.429,0.671,0.442,174,8.5,65.3,-3.7,7.8,11477
3,Cody Bellinger,Dodgers,156,660,47,121,115,15,14.4 %,16.4 %,...,0.305,0.406,0.629,0.415,162,1.1,55.0,3.2,7.7,15998
4,Marcus Semien,Athletics,162,753,33,123,92,10,11.8 %,13.5 %,...,0.283,0.369,0.519,0.371,137,1.7,37.1,13.9,7.5,12533

In [179]:
dfs19 = [stand19, adv19, eos[['playerid', 'Name','BsR', 'Off', 'Def', 'WAR']]]
merged19 = bfuncs.merge_seasons_data(dfs19, on=['playerid', 'Name'])
merged19.head()

,Name,Team,G,AB,PA,H,1B,2B,3B,HR,...,wGDP,wSB,wRC,wRAA,wOBA,wRC+,BsR,Off,Def,WAR
0,Tim Anderson,White Sox,123,498,518,167,117,32,0,18,...,-0.5,0.9,85,19.4,0.363,130.0,1.5,21.3,-3.2,3.5
1,Christian Yelich,Brewers,130,489,580,161,85,29,3,44,...,0.5,4.8,134,61.0,0.442,174.0,8.5,65.3,-3.7,7.8
2,Ketel Marte,Diamondbacks,144,569,628,187,110,36,9,32,...,0.5,0.8,125,46.1,0.405,150.0,4.2,46.1,7.0,7.1
3,DJ LeMahieu,Yankees,145,602,655,197,136,33,2,26,...,-1.1,-0.3,114,31.1,0.375,136.0,-0.1,30.0,2.8,5.4
4,Anthony Rendon,Nationals,146,545,646,174,93,44,3,34,...,-0.7,0.2,133,51.8,0.413,154.0,0.7,46.8,4.1,7.0

In [181]:
print(merged.columns )
print(merged19.columns)

Index(['Season', 'Name', 'Team', 'G', 'AB', 'PA', 'H', '1B', '2B', '3B', 'HR',
       'R', 'RBI', 'BB', 'IBB', 'SO', 'HBP', 'SF', 'SH', 'GDP', 'SB', 'CS',
       'AVG', 'playerid', 'BB%', 'K%', 'BB/K', 'OBP', 'SLG', 'OPS', 'ISO',
       'Spd', 'BABIP', 'UBR', 'wGDP', 'wSB', 'wRC', 'wRAA', 'wOBA', 'wRC+',
       'BsR', 'Off', 'Def', 'WAR'],
      dtype='object')
Index(['Name', 'Team', 'G', 'AB', 'PA', 'H', '1B', '2B', '3B', 'HR', 'R',
       'RBI', 'BB', 'IBB', 'SO', 'HBP', 'SF', 'SH', 'GDP', 'SB', 'CS', 'AVG',
       'playerid', 'BB%', 'K%', 'BB/K', 'OBP', 'SLG', 'OPS', 'ISO', 'Spd',
       'BABIP', 'UBR', 'wGDP', 'wSB', 'wRC', 'wRAA', 'wOBA', 'wRC+', 'BsR',
       'Off', 'Def', 'WAR'],
      dtype='object')

In [182]:
#merged.to_csv('M')
import os
os.getcwd()

'C:\\Users\\afs95\\MyPython\\Baseball'

In [184]:
merged.to_csv('./data/AllTime/AllTimeSeasons.csv')